body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* More Details Box */
.info-box {
    position: absolute;
    background-color: white;
    border: 2px solid white;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Adjust image size */
.info-image {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Label Styling for Surf Spot Names (Popup) */
.label {
    background-color: white; /* White background */
    color: black; /* Black text */
    padding: 5px 10px; /* Padding to fit the text */
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    position: relative;
    max-width: fit-content;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow for contrast */
}

/* Blue Pin-like carrot underneath the label */
.label::after {
    content: "";
    position: absolute;
    top: 100%; /* Position the carrot below the label */
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent; /* White carrot */
}
