html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    flex: 0 0 auto; /* Fix for header */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    flex: 0 0 auto; /* Fix for footer */
}

#map {
    flex: 1 1 auto; /* Make the map take the remaining space between header and footer */
    width: 100%;
}

.info-box {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.info-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.label {
    background-color: #0073e6;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    position: relative;
    max-width: fit-content;
}

.label::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: #0073e6 transparent transparent transparent;
}
